USE [tbl2]
GO
/****** Object:  Table [dbo].[tblIslemler]    Script Date: 5.06.2022 00:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIslemler](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[ogrno] [nvarchar](4) NOT NULL,
	[isbnno] [nvarchar](13) NOT NULL,
	[atarih] [date] NOT NULL,
	[vtarih] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[isbnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKitap]    Script Date: 5.06.2022 00:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKitap](
	[no] [int] NOT NULL,
	[isbnno] [nvarchar](13) NOT NULL,
	[adi] [nvarchar](100) NOT NULL,
	[yazarno] [int] NOT NULL,
	[turno] [int] NOT NULL,
	[sayfasayisi] [int] NOT NULL,
	[puan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[isbnno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOgrenci]    Script Date: 5.06.2022 00:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOgrenci](
	[no] [nvarchar](4) NOT NULL,
	[ad] [nvarchar](20) NOT NULL,
	[soyad] [nvarchar](20) NOT NULL,
	[cinsiyet] [nvarchar](7) NOT NULL,
	[dtarih] [date] NOT NULL,
	[sinif] [nvarchar](20) NOT NULL,
	[puan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTur]    Script Date: 5.06.2022 00:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTur](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[adi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblYazar]    Script Date: 5.06.2022 00:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblYazar](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblIslemler] ADD  DEFAULT (getdate()) FOR [atarih]
GO
ALTER TABLE [dbo].[tblIslemler]  WITH CHECK ADD FOREIGN KEY([isbnno])
REFERENCES [dbo].[tblKitap] ([isbnno])
GO
ALTER TABLE [dbo].[tblIslemler]  WITH CHECK ADD FOREIGN KEY([ogrno])
REFERENCES [dbo].[tblOgrenci] ([no])
GO
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD FOREIGN KEY([turno])
REFERENCES [dbo].[tblTur] ([no])
GO
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD FOREIGN KEY([yazarno])
REFERENCES [dbo].[TblYazar] ([no])
GO
ALTER TABLE [dbo].[tblKitap]  WITH CHECK ADD CHECK  (([sayfasayisi]>=(200)))
GO
